:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-orange: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-gray: #dfdfdf;

  /* size */
  --size-button: 60px;
  --button-font-size: 18px;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform 200ms ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 200ms ease;
  margin-right: 8px;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn:hover,
.logo:hover {
  transform: scale(1.2);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--button-font-size);
  padding: 18px;
  border-radius: 8px;
}

.blue {
  background-color: var(--color-blue);
}

.orange {
  background-color: var(--color-orange);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 12px;
}

.item__thumbnail {
  width: 50px;
  height: 50px;
}

.item__description {
  margin-left: 20px;
}
